// picocss

$primary-500: #673ab7;
$primary-600: #5e35b1;
$primary-700: #512da8;
@import '@picocss/pico/scss/pico';

// layout

#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'header header' 'input output';
  padding: 1rem 2rem;
  gap: 1rem;

  header {
    grid-area: header;
  }

  section,
  header {
    background-color: rgba(127, 127, 127, 0.05);
    padding: 0.5rem;
    border-radius: 5px;
  }

  & section:nth-child(2) {
    grid-area: input;
  }
  & section:nth-child(3) {
    grid-area: output;
    background-color: rgba(127, 127, 127, 0.05);
  }
}

@media (max-width: 768px) {
  #app {
    grid-template-areas: 'header' 'input' 'output';
  }
}
