// picocss

// $primary-500: #673ab7;
// $primary-600: #5e35b1;
// $primary-700: #512da8;
$primary-hue: 68;
@import '@picocss/pico/scss/pico';

// layout

#app {
  display: grid;
  grid-template-columns: 100%;
  padding: 1rem 0;
  gap: 1rem;

  & > * {
    background-color: rgba(127, 127, 127, 0.05);
    padding: 0.5rem;
    border-radius: 5px;
  }
}
